/* .debug #site_header {
    background-color: #2e5ce7;
    height: 70px;
} */

.debug #site_main {
    background-color: #f3983e;
    height: 100vh;
}

/* .debug aside {
    background-color: #2ff32f;
    width: 150px;
    height: 100%
} */

.debug .banner_top {
    background-color: var(--bs-primary);
}
.debug .col{
    background-color: #f351a6;
    height: 200px;
}

/* common */
:root{
    --bs-primary-darker: #051e34;
    --bs-primary: #1b72e8;
}

/* #region main */

/* sidebar */
aside {
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--bs-primary-darker);
}

.banner_top{
    background-color: var(--bs-primary);
}


/* #endregion main */

